<p>Hola <%= @resource.email %>!</p>

<p>Para cambiar tu contraseña pulsa el enlace de abajo</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si tu no lo has solicitado puedes ignorar este correo!!</p>

